.title {
	background:#FFC107;
	color:white;
	padding:20px;
}
button {
	background:#FFC107;
	color:white;
}
.totalRespon:hover {
	cursor:pointer;
}
li {
	list-style:none;
}
.styleContent {
	background:#eee;
	border:2px solid rgb(173,94,68);
	margin:5px 0;
}
.styleContent h2 {
	background: rgb(173,94,68);
}
/* AQUI EMPIEZA EL DISEÑO DE VERTOPIC.HTML */
.sectionAnswer {
	background:#333;
	color: white;
}