.title {
    /* outline: 1px solid red; */
    background: #BF3100;
    color: white;
    padding: 20px;
    /* font-size: 2em; */
}

button {
    background: #BF3100;
    color: white;
}
.totalRespon {
    /* background: #333; */
    /* color: white; */
    
     
     
}
.totalRespon:hover {
   cursor: pointer;
}

li {
    list-style: none;
}

.styleContent {
    background: #eee;
    border: 2px solid rgb(173, 94, 68);
    margin: 5px 0;
}
.styleContent h2 {
    background: rgb(173, 94, 68);
}